---
import Link from '~/components/base/Link.astro'
import { getUrl } from '~/utils/common'
import { SITE } from '~/config'

const title = `${SITE.author} @ ${new URL(SITE.website).hostname}`
---

<div>
  <Link
    class="link op-transition"
    href={getUrl('/')}
    {title}
    aria-current={Astro.url.pathname === `${getUrl('/')}` ? 'page' : false}
  >
    <div class="logo-container color-gradient dark:invert">Lemon Squeezy</div>
  </Link>
  <p class="ml-[2.5em] op-60">La programmation pour les enfants</p>
</div>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Atma:wght@400;700&display=swap');
  .link {
    opacity: 0.95;
    -webkit-user-select: none;
    user-select: none;
  }

  .color-gradient {
    font-family: 'Atma', sans-serif;
    min-width: 350px;
    background-clip: text;
    text-align: center;
    font-size: 3em;
    color: transparent;
    transition-property: all;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-image: linear-gradient(
      to right,
      #020617,
      #020617 33%,
      #ef4444 66%,
      #eab308,
      #22c55e,
      #3b82f6,
      #a855f7
    );
    background-size: 300% 100%;
    background-position: top left 70%;
  }

  .color-gradient:hover {
    background-position: right;
  }

  @media (prefers-reduced-motion), print {
    .color-gradient {
      transition-property: all;
      transition-duration: 0.7s;
      :hover {
        background-position: left;
      }
    }
  }
</style>
