---
import { SITE } from '~/config'

const currentYear = new Date().getFullYear()
const copyrightText = `© ${currentYear} ${SITE.author}`
---

<article id="wrap">
  <article id="lightings">
    <section id="one">
      <section id="two">
        <section id="three">
          <section id="four">
            <section id="five"></section>
          </section>
        </section>
      </section>
    </section>
  </article>
  <footer class="slide-enter animate-delay-1600! px-7 mt-auto mb-8">
    <div class="prose mx-auto op-50">
      <div class="flex lt-sm:flex-col items-center text-sm whitespace-nowrap">
        <span>{copyrightText}</span>
      </div>
    </div>
  </footer>
</article>
