---
import { SITE } from '~/config'

const currentYear = new Date().getFullYear()
const copyrightText = `© ${currentYear} ${SITE.author}`
---

<footer id="wrap">
  <article id="lightings">
    <section id="one">
      <section id="two">
        <section id="three">
          <section id="four">
            <section id="five"></section>
          </section>
        </section>
      </section>
    </section>
  </article>
  <div
    class="prose mx-auto opacity-50 fixed bottom-8 left-1/2 -translate-x-1/2"
  >
    <div class="flex lt-sm:flex-col items-center text-sm whitespace-nowrap">
      <span>{copyrightText}</span>
    </div>
  </div>
</footer>
